body {
	background-color: #f45f42;
}

h1 {
	color: #494949;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #494949;
	font-family: 'Roboto', sans-serif;
}

.modal {
	display: none; /* Hidden */
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
}
